<h1 class="center-text">Articles from smashing magazine</h1>
<div class="row">
    <div id="uneaten" class="col-sm-8">
        <div class="container">
            <h2>Design and Development articles</h2>
            <ul>
                {{#each Articles}} 
                <li data_id={{id}}><a href={{link}}> {{title}}</a>
                    <button class="comment" data_id={{id}} type="btn">comment!</button>
                </li>
                {{/each}}
                
            </ul>
        </div>
    </div>
</div>